@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-container {
  max-width: 600px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input,
textarea,
select {
  @apply border-2 border-gray-400 rounded-md px-2 mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

button {
  @apply px-4 py-2 rounded-md;
}
.btn_primary {
  @apply bg-gray-800 text-white;
}

.btn_red {
  @apply bg-red-500;
}

.btn_default {
  @apply border border-gray-500;
}

.table {
  @apply w-full;
}

.table thead tr td {
  @apply bg-blue-100;
}
.table tr td {
  @apply border border-gray-300 p-1;
}

.table a {
  @apply p-2 rounded-md text-sm inline-flex gap-1 items-center;
}
